*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}
.main_box{
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: black;
} 

/* Navbar start from here */

.nav_bar{
    background-color: black;
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.home{
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    margin-right: 30px;
}
.home img{
    height: 2rem;
    width: 2rem;
}
.logincontent{
    width: 460px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 1076px){
    .logincontent{
        width: 30%;
    }
}
.premium{
    height: 2rem;
    width: 143px;
    border: none;
    border-radius: 25px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    transition: 0.1s;
    margin-left: 15px;
}
.premium:hover{
    transform: scale(1.05);
}
@media (max-width: 1078px) {
  .logincontent .premium {
    display: none;
  }
}
#install{
    height: 2rem;
    width: 121px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: 400;
    opacity: 0.8;
    transition: 0.1s;
}
#install:hover{
    transform: scale(1.05);
    opacity: 1;
}
.bell{
    color: white;
    opacity: 0.7;
    transition: 0.1s;
}
.bell:hover{
    transform: scale(1.05);
    opacity: 1;
}
@media (max-width: 780px){
    .logincontent{
        width: 234px;
    }
}
#user{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #1f1f1f;
    border:none;
    transition: 0.1s;
}
#user:hover{
    transform: scale(1.05);
}
#userimg{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 2px;
}
.nav_bar_upper{
    background-color: transparent;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 8px;
    display: flex;
    justify-content: center;
}.search{
    width: 540px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1290px){
    .nav_bar_upper{
        justify-content: flex-start;
        margin-left: 90px;
    }
}
#home_icon{
    background-color: #1f1f1f;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
}
#home_icon:hover{
    transform: scale(1.05);
    background-color: #2e2e2e;
}
#home_icon i{
    color:white;
    font-size: 1.3rem;
}
#search_box{
    width: 90%;
    height: 3rem;
    margin-left: 10px;
}
#search_text_box{
    transition: 0.2s;
}
#search_text_box:hover{
    background-color: #2e2e2ef0;
}
#search_box i{
    position: absolute;
    top: 14px;
    padding-left: 10px;
    color: white;
    opacity: 0.7;
    font-size: 20px;
}
#search_text_box{
    width: 88%;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-color: #1f1f1f;
    padding-left: 50px;
    color: white;
    font-size: 17px;
}
#search_box input::placeholder{
    font-weight: 400;
    color: white;
    opacity: 0.8;
    font-size: 15px;
}
@media (max-width:990px){
    .search{
        width: 59%;
    }
}

/* navbar end here */
 
/* Sidebar start from here */

.sidebar{
    background-color:#121212;
    width: 420px;
    position: relative;
    top: 4rem;
    height: 81.5%;
    border-radius: 8px;
    margin: 0px 8px 0px 8px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 16px 16px 8px 16px;
    margin-bottom: 2rem;
}
#lib{
    width: 50%;
}
#lib_label{
    display: flex;
    align-items: center;
}
#check{
    display: none;
}
#lib h3{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
#lib_side_img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
}
#create_btn{
    display: flex;
    align-items: center;
    width: 120px;
}
#create_button{
    background-color: #1f1f1f;
    border: none;
    height: 2.2rem;
    width: 100px;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    font-weight: 700;
    transition: 0.2s;
}
#create_button:hover{
    background-color: #2e2e2eda;
}
.fa-solid{
    opacity: 0.8;
    padding-right: 2px;
}
.createplaylist{
    height: 89.7%;
    width: 100%;
}
.playlist{
    height: 102px;
    width: 364px;
    background-color: #1f1f1f;
    margin: 8px 8px 24px 8px ;
    border-radius: 8px;
    padding: 16px 20px;
}
.para{
    color: white;
}
.para1{
    font-weight: 700;
    font-size: 14px;
    padding: 2px 0px 12px 0px;
}
.para2{
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 22px;
}
.create_play{
    width: 125px;
}
#podcast{
    width: 142px;
    font-size: 13px;
}
@media(max-width:1285px){
    .sidebar{
        width: 320px;
    }
    .playlist{
        width: 265px;
    }
}
@media(max-width:821px){
    .sidebar{
        width: 280px;
    }
    .playlist{
        width: 225px;
    }
    .playlist2{
        height: 135px;
    }
}

/* Sidebar end here */

/* Main content Start from here */

.main_content{
    background: linear-gradient(
    to bottom,
        #1f1f1f 0%,
        #121212 40%,
        #121212 100%
    );
    flex: 1;
    height: 81.5%;
    border-radius: 8px;
    position: relative;
    top: 4rem;
    margin: 0px 8px 0px 0px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}
.main_content::-webkit-scrollbar {
  display: none;
}
.header{
    height: 4rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
}
.head_btn{
    border: none;
    border-radius: 24px;
    height: 32px;
    padding: 4px 12px;
    font-weight: 600;
    cursor: pointer;
}
#all{
    margin-left: 40px;
}
#music{
    margin: 0px 8px;
    background-color: #ffffff1a;
    color: white;
    transition: 0.2s;
}
#music:hover{
    background-color: #ffffff2a;
}
#podbtn{
    background-color: #ffffff1a;
    color: white;
    transition: 0.2s;
}
#podbtn:hover{
    background-color: #ffffff2a;
}
.card_container{
    height: 276px;
    margin: 20px 0px 50px 28px;
}
.card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}
.card_header h2{
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding-left: 10px;
    transition: 0.2s;
}
.card_header h2:hover{
    text-decoration: underline;
}
.card_header a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 13px;
    position: relative;
    right: 37px;
    top: 4px;
    transition: 0.2s;
}
.card_container a:hover{
    text-decoration:underline ;
}
.card_box{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.card{
    width: 195px;
    height: 245px;
    border-radius: 8px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.2s;
}
.card:hover{
    background-color: #1f1f1f;
}
.card_box::-webkit-scrollbar {
  display: none;
}
.card .img_box{
    height: 170px;
    width: 87%;
    margin: 10px;
    border-radius: 5px;
}
.card .img_box img{
    height: 170px;
    width: 100%;
    border-radius: 5px;
}
.card .img_box p{
    font-size: 13px;
    font-weight: 500;
    color: white;
    padding-top: 8px;
    line-height: 1.5;
    opacity: 0.6;
}
.last_container{
    margin-bottom: 105px;
}
.hr{
    background-color: gray;
    margin: 30px ;
    opacity: 0.4;
    height: 1px;
    border: none;
}
.footer{
    width: 95%;
    height: 210px;
    margin-left: 26px;
    margin-top: 50px;
}
.all_link_container{
    display: flex;
}
.links{
    height: 180px;
    width: 140px;
    margin-right: 20px;
    padding: 18px 18px 0px 8px ;
}
.link3{
    margin-left: 5px;
    margin-right: 30px;
}
.link4{
    margin-right: 40px;
}
.links h2{
    color: white;
    font-size: 15px;
    line-height: 26px;
}
.all_anchor{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 31px;
    opacity: 0.6;
    transition: 0.1s;
}
.all_anchor:hover{
    text-decoration: underline;
    opacity: 1;
}
.social_media{
    width: 160px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 9px;
    left: 90px;
}
.social_links{
    text-decoration: none;
    color: white;
    font-size: 18px;
    opacity: 0.8;
    background-color: #ffffff1a;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    transition: 2ms;
} 
.social_links:hover{
    background-color: #ffffffa0;
}
.hr1{
    width: 100%;
    margin-left: 0px;
}
.last_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
}
.legal_link{
    display: inline-block;
    margin: 6px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 31px;
    opacity: 0.8;
}
.legal_link:hover{
    opacity: 1;
}
.last_footer h2{
    color: white;
    opacity: 0.8;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    right: 10px;
}

/* Main Content end here */

/* player start from here */

.player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    display: flex;
}
.curr_play{
    height: 100%;
    width: 200px;
    margin: 4px 0px 0px 10px;
    display: flex;
    align-items: center;
}
#song_cover{
    height: 55px;
    width: 55px;
    border-radius: 10px;
    padding: 0px 14px 8px 8px;
}
#song_name{
    font-size: 13px;
    font-weight: 500;
    position: relative;
    bottom: 5px;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
#song_name:hover{
    text-decoration: underline;
}
#singer_name{
    font-size: 11px;
    font-weight: 400;
    opacity: 0.7;
    position: relative;
    bottom: 2px;
    color: white;
}
.plus_icon{
    position: relative;
    bottom: 4px;
    left: 19px;
    color: white; 
    transition: 0.1s;
}
.plus_icon:hover{
    transform: scale(1.1);
    opacity: 1;
}
.music_control{
    height: 100%;
    width: 37%;
    margin-left: 274px;
    margin-top: 5px;
    margin-right: 190px;
}
.play_pause{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    gap: 20px;
    color: white;
}
#play{
    color: black;
    background-color: white;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.pl_pau_btn{
    transition: 0.1s;
}
.pl_pau_btn:hover{
    transform: scale(1.1);
    opacity: 1;
}
.music_range{
    display: flex;
    justify-content: center;
    align-items: center;
}
.range{
    width: 86%;
    height: 4px;
    background: gray;
    border-radius: 10px;
    outline: none;
    margin: 0px 8px;
    cursor: pointer;
}
.time{
    color: white;
    font-size: 12px;
    opacity: 0.8;
}
.extra_control{
    height: 100%; 
    width: 289px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    opacity: 0.7;
}
.ex_con_btn{
    transition: 0.2s;
}
.ex_con_btn:hover{
    transform: scale(1.1);
    opacity: 1;
    
}
.volume{
    height: 4px;
    width: 90px;
}